# pip install -qr requirements.txt

# base ----------------------------------------

# logging -------------------------------------

# plotting ------------------------------------

# export --------------------------------------
# coremltools>=4.1
# onnx>=1.8.1
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
streamlit