version: "3.9"

services:

  server:
    build: server/
    ports: 
      - 6006:6006

  real_time_frontend:
    build: real_time_inference/
    depends_on:
      - backend
    ports:
      - 8501:8501
